<% wrap_layout :inner do %>
  <% content_for :sidebar do %>
    <div class="docs-sidebar hidden-print affix-top" role="complementary">
      <ul class="nav docs-sidenav">
        <li<%= sidebar_current("docs-home") %>>
          <a href="/docs/providers/index.html">All Providers</a>
        </li>
        <li<%= sidebar_current("docs-sysdig-index") %>>
          <a href="/docs/providers/sysdig/index.html">Sysdig Provider</a>
        </li>
        <li<%= sidebar_current("docs-sysdig-secure") %>>
          <a href="#">Sysdig Secure</a>
          <ul class="nav">
            <li<%= sidebar_current("docs-sysdig-secure-datasources") %>>
              <a href="#">Data Sources</a>
              <ul class="nav nav-auto-expand">
                <li<%= sidebar_current("docs-sysdig-secure-notification-channel-ds") %>>
                  <a href="/docs/providers/sysdig/d/sysdig_secure_notification_channel.html">sysdig_secure_notification_channel</a>
                </li>
              </ul>
            </li>
            <li<%= sidebar_current("docs-sysdig-secure-resources") %>>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li<%= sidebar_current("docs-sysdig-secure-list") %>>
                  <a href="/docs/providers/sysdig/r/sysdig_secure_list.html">sysdig_secure_list</a>
                </li>
                <li<%= sidebar_current("docs-sysdig-secure-macro") %>>
                  <a href="/docs/providers/sysdig/r/sysdig_secure_macro.html">sysdig_secure_macro</a>
                </li>
                <li<%= sidebar_current("docs-sysdig-secure-notification-channel-email") %>>
                  <a href="/docs/providers/sysdig/r/sysdig_secure_notification_channel_email.html">sysdig_secure_notification_channel_email</a>
                </li>
                <li<%= sidebar_current("docs-sysdig-secure-notification-channel-opsgenie") %>>
                  <a href="/docs/providers/sysdig/r/sysdig_secure_notification_channel_opsgenie.html">sysdig_secure_notification_channel_opsgenie</a>
                </li>
                <li<%= sidebar_current("docs-sysdig-secure-notification-channel-pagerduty") %>>
                  <a href="/docs/providers/sysdig/r/sysdig_secure_notification_channel_pagerduty.html">sysdig_secure_notification_channel_pagerduty</a>
                </li>
                <li<%= sidebar_current("docs-sysdig-secure-notification-channel-slack") %>>
                  <a href="/docs/providers/sysdig/r/sysdig_secure_notification_channel_slack.html">sysdig_secure_notification_channel_slack</a>
                </li>
                <li<%= sidebar_current("docs-sysdig-secure-notification-channel-sns") %>>
                  <a href="/docs/providers/sysdig/r/sysdig_secure_notification_channel_sns.html">sysdig_secure_notification_channel_sns</a>
                </li>
                <li<%= sidebar_current("docs-sysdig-secure-notification-channel-victorops") %>>
                  <a href="/docs/providers/sysdig/r/sysdig_secure_notification_channel_victorops.html">sysdig_secure_notification_channel_victorops</a>
                </li>
                <li<%= sidebar_current("docs-sysdig-secure-notification-channel-webhook") %>>
                  <a href="/docs/providers/sysdig/r/sysdig_secure_notification_channel_webhook.html">sysdig_secure_notification_channel_webhook</a>
                </li>
                <li<%= sidebar_current("docs-sysdig-secure-policy") %>>
                  <a href="/docs/providers/sysdig/r/sysdig_secure_policy.html">sysdig_secure_policy</a>
                </li>
                <li<%= sidebar_current("docs-sysdig-secure-rule-container") %>>
                  <a href="/docs/providers/sysdig/r/sysdig_secure_rule_container.html">sysdig_secure_rule_container</a>
                </li>
                <li<%= sidebar_current("docs-sysdig-secure-rule-falco") %>>
                  <a href="/docs/providers/sysdig/r/sysdig_secure_rule_falco.html">sysdig_secure_rule_falco</a>
                </li>
                <li<%= sidebar_current("docs-sysdig-secure-rule-filesystem") %>>
                  <a href="/docs/providers/sysdig/r/sysdig_secure_rule_filesystem.html">sysdig_secure_rule_filesystem</a>
                </li>
                <li<%= sidebar_current("docs-sysdig-secure-rule-network") %>>
                  <a href="/docs/providers/sysdig/r/sysdig_secure_rule_network.html">sysdig_secure_rule_network</a>
                </li>
                <li<%= sidebar_current("docs-sysdig-secure-rule-process") %>>
                  <a href="/docs/providers/sysdig/r/sysdig_secure_rule_process.html">sysdig_secure_rule_process</a>
                </li>
                <li<%= sidebar_current("docs-sysdig-secure-rule-syscall") %>>
                  <a href="/docs/providers/sysdig/r/sysdig_secure_rule_syscall.html">sysdig_secure_rule_syscall</a>
                </li>
                <li<%= sidebar_current("docs-sysdig-secure-team") %>>
                  <a href="/docs/providers/sysdig/r/sysdig_secure_team.html">sysdig_secure_team</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-sysdig-monitor") %>>
          <a href="#">Sysdig Monitor</a>
          <ul class="nav">
            <li<%= sidebar_current("docs-sysdig-monitor-resources") %>>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li<%= sidebar_current("docs-sysdig-monitor-alert-anomaly") %>>
                  <a href="/docs/providers/sysdig/r/sysdig_monitor_alert_anomaly.html">sysdig_monitor_alert_anomaly</a>
                </li>
                <li<%= sidebar_current("docs-sysdig-monitor-alert-downtime") %>>
                  <a href="/docs/providers/sysdig/r/sysdig_monitor_alert_downtime.html">sysdig_monitor_alert_downtime</a>
                </li>
                <li<%= sidebar_current("docs-sysdig-monitor-alert-event") %>>
                  <a href="/docs/providers/sysdig/r/sysdig_monitor_alert_event.html">sysdig_monitor_alert_event</a>
                </li>
                <li<%= sidebar_current("docs-sysdig-monitor-alert-group-outlier") %>>
                  <a href="/docs/providers/sysdig/r/sysdig_monitor_alert_group_outlier.html">sysdig_monitor_alert_group_outlier</a>
                </li>
                <li<%= sidebar_current("docs-sysdig-monitor-alert-metric") %>>
                  <a href="/docs/providers/sysdig/r/sysdig_monitor_alert_metric.html">sysdig_monitor_alert_metric</a>
                </li>
                <li<%= sidebar_current("docs-sysdig-monitor-dashboard") %>>
                  <a href="/docs/providers/sysdig/r/sysdig_monitor_dashboard.html">sysdig_monitor_dashboard</a>
                </li>
                <li<%= sidebar_current("docs-sysdig-monitor-notification-channel-email") %>>
                  <a href="/docs/providers/sysdig/r/sysdig_monitor_notification_channel_email.html">sysdig_monitor_notification_channel_email</a>
                </li>
                <li<%= sidebar_current("docs-sysdig-monitor-notification-channel-opsgenie") %>>
                  <a href="/docs/providers/sysdig/r/sysdig_monitor_notification_channel_opsgenie.html">sysdig_monitor_notification_channel_opsgenie</a>
                </li>
                <li<%= sidebar_current("docs-sysdig-monitor-notification-channel-pagerduty") %>>
                  <a href="/docs/providers/sysdig/r/sysdig_monitor_notification_channel_pagerduty.html">sysdig_monitor_notification_channel_pagerduty</a>
                </li>
                <li<%= sidebar_current("docs-sysdig-monitor-notification-channel-slack") %>>
                  <a href="/docs/providers/sysdig/r/sysdig_monitor_notification_channel_slack.html">sysdig_monitor_notification_channel_slack</a>
                </li>
                <li<%= sidebar_current("docs-sysdig-monitor-notification-channel-sns") %>>
                  <a href="/docs/providers/sysdig/r/sysdig_monitor_notification_channel_sns.html">sysdig_monitor_notification_channel_sns</a>
                </li>
                <li<%= sidebar_current("docs-sysdig-monitor-notification-channel-victorops") %>>
                  <a href="/docs/providers/sysdig/r/sysdig_monitor_notification_channel_victorops.html">sysdig_monitor_notification_channel_victorops</a>
                </li>
                <li<%= sidebar_current("docs-sysdig-monitor-notification-channel-webhook") %>>
                  <a href="/docs/providers/sysdig/r/sysdig_monitor_notification_channel_webhook.html">sysdig_monitor_notification_channel_webhook</a>
                </li>
                <li<%= sidebar_current("docs-sysdig-monitor-team") %>>
                  <a href="/docs/providers/sysdig/r/sysdig_monitor_team.html">sysdig_monitor_team</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
        <li<%= sidebar_current("docs-sysdig-platform") %>>
          <a href="#">Sysdig Platform</a>
          <ul class="nav">
            <li<%= sidebar_current("docs-sysdig-platform-resources") %>>
              <a href="#">Resources</a>
              <ul class="nav nav-auto-expand">
                <li<%= sidebar_current("docs-sysdig-user") %>>
                  <a href="/docs/providers/sysdig/r/sysdig_user.html">sysdig_user</a>
                </li>
              </ul>
            </li>
            <li<%= sidebar_current("docs-sysdig-platform-datasources") %>>
              <a href="#">Data Sources</a>
              <ul class="nav nav-auto-expand">
                <li<%= sidebar_current("docs-sysdig-current-user-ds") %>>
                  <a href="/docs/providers/sysdig/d/sysdig_current_user.html">sysdig_current_user</a>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  <% end %>
  <%= yield %>
<% end %>
